<div class="container" data-controller="power-search">
  <br>
  <h1>List of powers</h1>
  <br>
  <%= form_tag powers_path, method: :get, data: { power_search_target: 'form'} do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a power",
      data: { action: "keyup->power-search#search"}
    %>
  <% end %>
  <br>
  <div data-power-search-target="powers">
    <%= render "power_list", powers: @powers %>
  </div>
</div>
