<div class="show_big">
  <div class="show_card">
    <div class="show_container">
      <div class="show_images">
        <% if @power.photo.key %>
          <%= cl_image_tag @power.photo.key, class: "card-img-top" %>
        <% else %>
          <img src="https://img.buzzfeed.com/buzzfeed-static/static/2019-02/6/17/campaign_images/buzzfeed-prod-web-01/can-you-guess-which-marvel-superhero-said-these-l-2-19906-1549493548-0_dblbig.jpg?resize=1200:*" alt="" class="card-img-top">
        <% end %>
      </div>
      <div class="show_product">
        <div>
          <p>Check out this super power:</p>
          <h1><%= @power.name %></h1>
          <p class="show_desc"><%= @power.description %></p>
        </div>
        <div class="show_buttons">
        <%= link_to new_power_booking_path(@power) do %>
          <button class="show_add">Rent!</button>
        <% end %>
          <button class="show_like"><span>♥</span></button>
        </div>
      </div>
    </div>
  </div>
</div>
