// Import page-specific CSS files here.
@import "home";
@import "show";

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

// $white: #F5F5F5;
// $lightorange: #fbab60;
// $orange: orange;
// $dark: black;

.show_big {
  display: grid;
  min-height: 100%;
}

.show_card {
  display: grid;
  background: $white;
  text-transform: uppercase;
}

.show_container {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 580px;
  // height: 350px;
  background: $white;
  box-shadow: 5px 5px 15px rgba($orange, .5);
  border-radius: 10px;
  margin-bottom: 50px;
}

.show_product p {
  font-size: 0.6em;
  letter-spacing: 1px;
}

.show_product h1 {
  font-size: 2.2em;
  color: $black;
  margin-top: -5px;
}

.show_images img {
  width: 290px;
  height: max-content;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
}

.show_images {
  left: 15px;
}

.show_product {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  width: 40%;
  height: 100%;
  top: 0;
  left: 57%;
}

.show_desc {
  text-transform: none;
  letter-spacing: 0;
  margin-bottom: 17px;
  color: $black;
  font-size: .7em;
  line-height: 1.6em;
  margin-right: 25px;
  text-align: left;
}

.show_buttons button {
  background: darken($lightorange, 10%);
  padding: 10px;
  display: inline-block;
  outline: 0;
  border: 0;
  margin: -1px;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $white;

  cursor: pointer;
  &:hover {
    background: $orange;
    transition: all .4s ease-in-out;
  }
}

.show_add {
  width: 67%;
}

.show_ike {
  width: 22%;
}
