<div class="title-bookings">
  <h1>All your bookings</h1>
</div>

<ul>
<% @bookings.each do |booking| %>
  <li>Your power:<%= booking.power.name %> - Booked in:<%= booking.start_date %> to: <%= booking.end_date %></li>
<% end %>
</ul>
