<div class="home-banner">
  <div class="home-container">
    <h1>RENT A SUPER POWER</strong></h1>
    <p>and make the impossible possible</p>
  </div>
</div>

</div><div class="home-container">
  <h2 class="home-text-center">how it works</h2>
  <div class="home-cards">
    <div class="home-card">
      <div>
        <%= image_tag "home_seeallpowers.svg", alt: "illustration of someone seeing a lot of powers" %>
      </div>
      <h4>See all powers</h4>
      <p>Check out our ever-growing selection of amazing super powers</p>
    </div>
    <div class="home-card">
      <div>
        <%= image_tag "home_chooseapower.svg", alt: "illustration of someone picking a power" %>
      </div>
      <h4>Pick a power</h4>
      <p>Choose the super power that is right for you</p>
    </div>
    <div class="home-card">
      <div>
        <%= image_tag "home_rentapower.svg", alt: "illustration of someone using a power" %>
      </div>
      <h4>Rent a power</h4>
      <p>Achieve the impossible right away and become the super hero you always dreamed of</p>
    </div>
  </div>
  <div class="middle-btn">
    <%= link_to "Get Started", powers_path, class: "home-button justify-content-center" %>
  </div>
</div>
