<div class="home-banner">
  <div class="home-container">
    <h1>Write some title here</strong>!</h1>
    <p>And an amazing and powerful description here hehe</p>
  </div>
</div>

<div class="home-container">
  <h2 class="home-text-center">How it works</h2>
  <div class="home-cards">
    <div class="home-card">
      <div>
        <%= image_tag "home_seeallpowers.svg", alt: "illustration of someone seeing a lot of powers" %>
      </div>
      <h4>See all powers</h4>
      <p>Some awesome description here</p>
    </div>
    <div class="home-card">
      <div>
        <%= image_tag "home_chooseapower.svg", alt: "illustration of someone picking a power" %>
      </div>
      <h4>Pick a power</h4>
      <p>Some awesome description here</p>
    </div>
    <div class="home-card">
      <div>
        <%= image_tag "home_rentapower.svg", alt: "illustration of someone using a power" %>
      </div>
      <h4>Rent a power</h4>
      <p>Some awesome description here</p>
    </div>
  </div>
  <div>
    <%= link_to "Get Started", powers_path, class: "home-button justify-content-center" %>
  </div>
</div>
