.powers-card {
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  height: 450px;
  text-decoration:none;

  .card-img-top {
    object-fit: cover;
    height: 380px;
    border-radius: 4px 4px 0 0;
    object-position: top;
  }
}

.powers-card:hover {
  color: black;
  text-decoration: none;
  box-shadow: 5px 5px 15px rgba($orange, .5);
  margin-bottom: 50px;
}

.card-title {
  text-decoration: none !important;
  color: $black;
}
