$brown: #652701;
$darkorange: #B74701;
$orange: #FE6709;
$lightorange: #FE9B5D;
$superlightorange:#FFCDAE;
$black: black;
$white: white;

h1 {
  font-family: 'Bangers', cursive;
  font-size: 34px;
  letter-spacing: 4px;
}

h2, h3, h4, p {
  font-family: Roboto, sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: bold;
}

h3 {
  font-size: 22px;
  text-decoration: none;
}

h4 {
  font-size: 20px;
}

p {
  font-size: 16px;
}
